###############   my-config configuration script   ###############
if [ -d ~/.myenv ]; then
for i in ~/.myenv/*.sh; do
  if [ -r $i ]; then
     . $i
  fi
done
unset i
fi
##################################################################
