###############   my-config configuration script   ###############
if [ -d ~/.myenv ]; then
  if [ -f ~/.myenv/path ]; then
    . ~/.myenv/path
  fi
  for i in ~/.myenv/*.sh; do
    if [ -r $i ]; then
       . $i
    fi
done
unset i
fi
##################################################################
