###############   my-config configuration script   ###############
if [ -d ~/.bash ]; then
for i in ~/.bash/*.sh; do
  if [ -r $i ]; then
     . $i
  fi
done
unset i
fi
##################################################################
